{% extends 'sample.html' %}
{% load static %}

{% block title%}
{{ title }}
{% endblock%}
{% block form-media %}
    {{ imps.media }}
{% endblock %}
{% block content %}
    {% if imps.count == 0 %}
            <div>
                Создайте воспоминание!!!
            </div>
    {% else %}
        {% for i in imps %}
            </br>
            <div style="border-radius: 30px; border: 1px solid rgb(136, 136, 226);">
                <h1> {{ i.title }}</h1>
                <p>{{ i.content }}</p>
                <p>{{ i.address }}</p>
            </div>
        {% endfor %}
    {% endif %}
    </br>
    <button class="btn btn-outline-dark my-2 my-sm-0"
            onclick="document.location='{%url 'PR:add_page'%}'">Добавить новое воспоминание</button>
{% endblock %}
